body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  background-image: radial-gradient(#305f9c, #12243b);
}
.MP3 .ajavtive {
  color: #a59f9f !important;
}
.MP3 .stage {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.797);
  width: 300px;
  height: 500px;
  background-image: linear-gradient(116deg, #938a85, #665d58 45%, #2d241e 45%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.MP3 .stage .screen {
  height: 230px;
  width: 250px;
  background-image: radial-gradient(#d6ccb6, #f7efdc);
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
  transition: all 0.3s;
}
.MP3 .stage .screen .scrmask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 13;
  background-color: #423e3b;
  opacity: 0;
}
.MP3 .stage .screen canvas {
  position: absolute;
  left: 20px;
  top: 71px;
  transition: all 0.3s;
}
.MP3 .stage .screen .x-title {
  position: absolute;
  width: 210px;
  left: 20px;
  top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MP3 .stage .screen .x-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.MP3 .stage .screen .x-title .geming {
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: 500;
  color: white;
}
.MP3 .stage .screen .x-title .shijian {
  font-size: 18px;
}
.MP3 .stage .screen .x-title .shijian i {
  color: white;
  font-size: 13px;
  line-height: 18px;
}
.MP3 .stage .screen .cvsmask {
  position: absolute;
  left: 20px;
  top: 71px;
  background-color: lightcoral;
}
.MP3 .stage .screen .jdtbox {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.MP3 .stage .screen .jdtbox input {
  position: absolute;
  width: 220px;
  height: 5px;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}
.MP3 .stage .screen .jdtbox .jdt {
  pointer-events: none;
  width: 210px;
  height: 5px;
  background-color: white;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  left: 0;
  top: 0;
}
.MP3 .stage .screen .jdtbox .jdt .jdbt {
  pointer-events: none;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  top: -3px;
}
.MP3 .stage .btns {
  height: 170px;
  width: 170px;
  background-color: #423e3b;
  position: relative;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.MP3 .stage .btns i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255);
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.MP3 .stage .btns i:nth-child(1) {
  left: calc(50% - 12.5px);
  top: 10px;
}
.MP3 .stage .btns i:nth-child(2) {
  right: 10px;
  bottom: calc(50% - 12.5px);
}
.MP3 .stage .btns i:nth-child(3) {
  left: 10px;
  bottom: calc(50% - 12.5px);
}
.MP3 .stage .btns i:nth-child(4) {
  bottom: 10px;
  left: calc(50% - 12.5px);
}
.MP3 .stage .btns .play {
  background-color: #2d241e;
  width: 65px;
  border-radius: 50%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MP3 .stage .btns .play i {
  position: initial;
  width: 25px;
  font-size: 23px;
}
/*# sourceMappingURL=./mp3.css.map */